    <!-- <h2 mat-dialog-title class="custom-dialog-title">Editar Ingrediente</h2>

    <div mat-dialog-content>
    <form (ngSubmit)="editarIngrediente()" class="custom-form" [formGroup]="formulario">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [placeholder]="ingrediente.nombre" formControlName="nombre">
        </div>
        <div>
          <small class="text-danger"
          *ngIf="validar('nombre', 'required')"> El campo es requerido </small>
        </div>
      
    
        <div class="form-group">
          <label for="cantidad">Cantidad:</label>
          <input type="number" id="cantidad" name="cantidad" [valueAsNumber]="ingrediente.cantidad" formControlName="cantidad" >
        <div>
          <small class="text-danger"
          *ngIf="validar('cantidad', 'required')"> El campo es requerido </small>
          </div>
        </div>
    
        <div class="form-group">
          <label for="unidad">Unidad:</label>
          <input type="text" id="unidad" name="unidad" [placeholder]="ingrediente.unidad"  formControlName="unidad">
          <div>
            <small class="text-danger"
            *ngIf="validar('unidad', 'required')"> El campo es requerido </small>
            </div>
        </div>
    
        <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar Cambios</button>
      </form>
      <div mat-dialog-actions>
        <button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
      </div>
</div> -->

<h2 mat-dialog-title class="custom-dialog-title mb-3">Editar Ingrediente</h2>

<div mat-dialog-content>
  <form (ngSubmit)="editarIngrediente()" class="custom-form" [formGroup]="formulario">
    <div class="form-row">
      <div class="form-group col-md-12 mb-3">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" [placeholder]="ingrediente.nombre" formControlName="nombre">
        <small class="text-danger" *ngIf="validar('nombre', 'required')"> El campo es requerido </small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12 mb-3">
        <label for="cantidad">Cantidad:</label>
        <input type="number" class= "mb-2" id="cantidad" name="cantidad" class="form-control" [valueAsNumber]="ingrediente.cantidad" formControlName="cantidad">
        <small class="text-danger" *ngIf="validar('cantidad', 'required')"> El campo es requerido </small>
      </div>

    <div class="form-row">
      <div class="form-group col-md-12 mb-4">
        <label for="unidad">Unidad:</label>
        <input type="text" id="unidad" name="unidad" class="form-control" [placeholder]="ingrediente.unidad" formControlName="unidad">
        <small class="text-danger" *ngIf="validar('unidad', 'required')"> El campo es requerido </small>
      </div>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Button group">
        <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
      </div>
  </form>
</div>
