<div class="row">
  <div class="col-12">
    <form [formGroup]="formReceta" (ngSubmit)="guardarInformacion()">
      <div class="row">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success me-1"
            [disabled]="!formReceta.valid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancelar()">
            Cancelar
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="form-group">
            <label for="urlImagen">URL de Imagen</label>
            <input
              type="text"
              id="urlImagen"
              formControlName="rutaImagen"
              class="form-control"
              #rutaImagen
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img [src]="rutaImagen.value" class="img-responsive" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea
              type="text"
              id="descripcion"
              formControlName="descripcion"
              class="form-control"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12" formArrayName="ingredientes">
          <div
            class="row"
            *ngFor="let ingredienteControl of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-6 mt-2">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                formControlName="nombre"
              />
            </div>
            <div class="col-2 mt-2">
              <input
                type="number"
                class="form-control"
                placeholder="Cant."
                formControlName="cantidad"
              />
            </div>
            <div class="col-2 mt-2">
              <input
                type="text"
                class="form-control"
                placeholder="Unidad"
                formControlName="unidad"
              />
            </div>
            <div class="col-2 mt-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onEliminarIngrediente(i)"
              >
                Eliminar
              </button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="agregarIngrediente()"
              >
                Agregar Ingrediente
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
