<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form
        id="formulario"
        (ngSubmit)="logIn()"
        [formGroup]="formularioUsuario"
      >
        <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
            required
            email
          />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="clave"
            formControlName="clave"
            required
            minlength="6"
          />
          <label for="floatingPassword">Contraseña</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-primary mt-1"
          type="submit"
          [disabled]="formularioUsuario.invalid"
        >
          Iniciar sesion
        </button>
        <button
          class="w-100 btn btn-lg btn-primary mt-1"
          type="submit"
          routerLink="/registro"
        >
          Registrarse
        </button>
      </form>
    </div>
      
  </div>
</div>
