<div class="container-lg align-items-center justify-content-center vh-100 mt-5">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form
        id="formulario"
        (ngSubmit)="registrarse()"
        [formGroup]="formularioUsuario"
      >
        <h1 class="h3 mb-3 fw-normal">Registrarse</h1>

        <div class="form-floating">
          <input
            type="email"
            [class.is-invalid]="validar('email', 'email')"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
          />
          <label for="floatingInput">Email</label>
          <div>
            <small class="text-danger" *ngIf="validar('email', 'email')"
              >El email es invalido</small
            >
          </div>
        </div>

        <div class="form-floating">
          <input
            type="password"
            [class.is-invalid]="validar('clave', 'minlength')"
            id="password"
            class="form-control"
            placeholder="clave"
            formControlName="clave"
          />
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div>
          <small class="text-danger" *ngIf="validar('clave', 'minlength')"
            >La contraseña debe tener al menos 6 caracteres</small
          >
        </div>
        <button
          class="w-100 btn btn-lg btn-primary mt-1"
          type="submit"
          [disabled]="formularioUsuario.invalid"
        >
          Aceptar
        </button>
      </form>
    </div>
  </div>
</div>
