<!-- <div class="row">
  <div class="col-xs-10"> -->
<!-- <hr /> -->
<!-- <ul class="list-group">
      <a
        href="#"
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingrediente of ingredientes; let i=index"
      >
        {{ ingrediente.nombre }} ({{ ingrediente.cantidad }} {{ingrediente.unidad}})
        <button class="edit-button" (click)="editarIngrediente(i)">E</button>
      </a>
    </ul>-->
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <table>
        <thead>
          <tr>
            <th>INGREDIENTE</th>
            <th>CANTIDAD</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
            <th>
              <button class="btn btn-primary" (click)="vaciarLista()">
                Vaciar Lista
              </button>
            </th>
          </tr>
        </thead>
        <tbody id="ingredientes">
          <tr *ngFor="let ingrediente of ingredientes; let i = index">
            <td>{{ ingrediente.nombre }}</td>
            <td>({{ ingrediente.cantidad }} {{ ingrediente.unidad }})</td>
            <td>
              <i class="bi bi-pencil" (click)="editarIngrediente(i)">
              </i>
            </td>
            <td>
              <i class="bi bi-trash" (click)="eliminarIngrediente(i)">
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <app-editar-compra></app-editar-compra>
    </div>
  </div>
</div>
