<div class="container">
<div class="row">
  <div class="col-xs-12">
    <img
      [src]="receta.rutaImagen"
      alt="{{ receta.nombre }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ receta.nombre }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
      >
        Gestionar Receta <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            (click)="agregarEnListaDeCompras()"
            style="cursor: pointer"
            >Agregar Ingredientes a la Lista de Compra</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="editarReceta()">Editar Receta</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onEliminarReceta()"
            >Borrar Receta</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{ receta.descripcion }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-goup-item"
          *ngFor="let ingrediente of receta.ingredientes"
        >
          {{ ingrediente.nombre }} ({{ ingrediente.cantidad }}
          {{ ingrediente.unidad }})
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
