<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Nombre de la Receta</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Gestionar Receta <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Agregar Ingredientes a la Lista de Compra</a></li>
        <li><a href="#">Editar Receta</a></li>
        <li><a href="#">Borrar Receta</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">Descripcion</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Ingredientes</div>
  </div>
</div>
