<a
  href="#"
  class="list-group-item list-group-item-action bg-light clearfix"
  [routerLink]="[index]"
  routerLinkActive="active-link"
>
  <!-- <div class="d-flex justify-content-between"> -->
    <div class="card" style="width: 10rem; height: 15rem;">
      <div>
        <img class="card-img-top"
          src="{{ receta.rutaImagen }}"
          alt="{{ receta.nombre }}"
          style="height: 6rem"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ receta.nombre }}</h5>
        <p class="card-text">{{ receta.descripcion }}</p>
    </div>
  </div>
</a>
